---
import Layout from "../layouts/Layout.astro";

import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t("site.title")} description={t("site.description")} lang={lang}>
  <div class="container">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda incidunt
    maxime deleniti sint, modi quasi animi odit, officiis pariatur tempore
    laboriosam soluta praesentium delectus blanditiis, fuga possimus aliquid.
    Maiores, amet.
  </div>
</Layout>
