---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import LangLink from "./LangLink.astro";

const { lang } = Astro.props;

const homeSlug = `/${lang || ""}`;
const blogSlug = `/${lang || ""}/blog`;
const aboutSlug = `/${lang || ""}/about`;
---

<div id="header">
  <nav class="container">
    <ul>
      <a href="/">{SITE_TITLE}</a>
    </ul><ul>
      <HeaderLink href={homeSlug}>Home</HeaderLink>
      <HeaderLink href={blogSlug}>Blog</HeaderLink>
      <HeaderLink href={aboutSlug}>About</HeaderLink>
    </ul>
    <ul>
      <LangLink language="en" isActive={lang == "en"} />
      <LangLink language="es" isActive={lang == "es"} />
      <LangLink language="fr" isActive={lang == "fr"} />
    </ul>
  </nav>
</div>

<style>
  #header {
    background-color: var(--card-sectionning-background-color) !important;
    position: sticky;
    z-index: 10;
    top: 0;
  }
</style>
