---
import type { HTMLAttributes } from "astro/types";
import { getLocalizedPathname } from "../i18n/utils";

type Props = HTMLAttributes<"a">;

const { language, class: className, ...props } = Astro.props;
const { pathname } = Astro.url;

const lang = Astro.params?.lang || "en";
const isActive = language === lang;

const href = getLocalizedPathname(pathname, language);
---

<li>
  <a href={href} class:list={[className, { active: isActive }]} {...props}>
    {language}
  </a>
</li>
